* {
    font-family: helvetica;
    box-sizing: border-box;
    font-weight: bold
}

main{
    background-color: #FFE5CB;
    padding-bottom: 25px;
}

.container-fluid.title{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.images{
    margin: 30px 0px;
}

a{
    text-decoration: none;
    color: #737373;
}


.btn.btn-primary.btn-block{
    margin-top: 10px;
    text-align: center
}

input{
    margin-left: 10px
}

.row.space{
    margin: 15px;
}


